
    body{
        margin:0;
        height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
        background:#0f2027;
        font-family:Arial, sans-serif;
    }

    .box{
        background:white;
        padding:20px;
        width:300px;
        border-radius:12px;
        box-shadow:0 10px 25px rgba(0,0,0,0.4);
        display:flex;
        flex-direction:column;
        gap:15px;
    }

    .phone-box{
        display:flex;
        gap:5px;
    }

    select, input, textarea, button{
        padding:10px;
        font-size:14px;
        border-radius:6px;
        border:1px solid #ccc;
        outline:none;
    }

    select{
        width:90px;
    }

    input{
        flex:1;
    }

    textarea{
        resize:none;
        height:80px;
    }

    button{
        background:#25D366;
        color:white;
        border:none;
        cursor:pointer;
        font-weight:bold;
        transition:0.3s;
    }

    button:hover{
        background:#1ebe5b;
    }
    #phone{
      width: 150px;
    }
